<h1> Seaweed questions <h1>

Thanks for stopping by and asking a question!

Please keep questions on the topic of Seaweeds and seaweed aquaculture.

Questions about regional seaweeds are encouraged.

Feel free to ask about recipes and other uses, but mostly how to grow Seaweed.
<br>
<input type="checkbox" name="mindful" value="mindful"> OK, sounds good.
<br>
<a href="/questions/new" > To the question. </a>
