<html>  
<body class="sign-up">

<h1> Login </h1>

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error|%>
      <%= error %>
      <% end %>
    <% end %>

<form class="input" id="login" action="<%= session_url %>" method="post">
  <input type="hidden"
   name="authenticity_token"
   value=" <%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    id="user_email">

  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">
  <div>
    <input type="submit">
  </div>
</form>

<%= link_to "Sign up!", new_user_url %>
</body>
<html>
