
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body>

  </body>
</html>

<div class="answer-form">
     <input type="hidden"
      name="question_id"
      value="<%= question.escape("id") %>">
    <label for="Answer">Your Answer</label>
    <br>
     <textarea id="Answer"
     type="text"
     name="body"
     value="<%= answer.escape("body") %>">
   </textarea><br>
   link
   <div class="comment">
   <textarea id="Answer"
   type="text"
   name="link_url"
   value="<%= answer.escape("link_url") %>">
  </textarea>
</div>
   <br>
     <button class="answer">Post Answer</button>
</div>
