
  <form>
     <input type="hidden"
      name="answer[question_id]"
      value="<%= question.escape("id") %>">
    <label for="Answer">Answer</label>
     <textarea id="Answer"
     type="text"
     name="answer[body]">
   </textarea>
     <button class="answer">Post Answer</button>
  <form>
