<h1> Welcome to SeaStack </h1>

<p> This site is a forum for the advancement of Seaweed.</p>

<p> The format is modeled on StackOverflow. </p>

<p> All resources are public. </p>

<p> Users must sign up to ask a question or to post a response.  </p>

<p> Members gain reputation points by answering questions and getting upvotes. <p>
<a href="/api/instructions">
<button> Ask a Question </button></a>
<a href="/api/questions">
<button> See All Questions </button>
</a>
