<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>

<body class="sign-up">
  <header class="sign-up-back group">
  <ul>
    <li> <a href="/#questions"> --Back to SeaStack</a></li>
  </ul>

  </header>


  <div class="Sea-title">
<h1> Sea<em>Stack</em></h1>
<h2> Grow Great Algae. <h2>
</div>

<section class="divide">

</section>
<i class="exp">

</i>

<form class="input" action= "<%= users_url %>" method="post">
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token  %>">
  <label for="user_name">Username</label>
  <br>
  <input
   type="text"
   name="user[name]"
   placeholder="J.Sparrow"
   id="user_name">
   <br>

   <label for="user_email">Email</label>
     <br>
   <input
     type="text"
     name="user[email]"
     id="user_email"
     class= ".errors"
     value="">
      <% if @emails %>
       <i class="error" >
       <%= @emails %>
    </i>
    <% end %>
   <br>

   <label for="user_password">Password</label>
   <br>
   <input
     class="expo"
     type="password"
     name="user[password]"
     id="user_password">

    <i class="pinfo">
       Password must contain at least 6 characters
        <br>
         <li>no other restrictions</li>
    </i>
      <% if @passwords %>
         <i class="error" >
         <%= @passwords %>
      </i>
       <% end %>
  </input>
     <br>

   <label for="user_password">Password Confirmation</label>
   <br>
   <input
     type="password"
     name="user[password_confirmation]"
     id="user_password">
     <br>
  <div>
  <input class"sign-upsub" type="submit">
</div>
</form>

<div class="account">
  Already registered? <a href="/session/new">Log in</a>
</div>

<footer class="sign-foot group">
<ul class="sign-foot-list group">
  <li>tour</li>
  <li>blog</li>
  <li>chat</li>
  <li>data</li>
  <li>legal</li>
  <li>privacy policy</li>
  <li>contact us</li>
  <li>feedback</li>
</ul>
 <p>
   site design / logo 2015 SeaStack; made by Braelan at App Accademy
 </p>
</footer>


</body>
</html>
