<header class="navigation">
  <nav class="header-nav group">
    <h2 class="logo">Sea<em>Stack</em></h2>
      <ul class="navigation-tabs group">
        <li>
          <a href="/users/new">sign up</a>
        </li>
        <li>
          <a href="/session/new">log in</a>
        </li>
        <li>help</li>

      </ul>
  </nav>
</header>
<h1> App/Views/site/root <h1>

<!-- this is the navbar -->
<nav class="site-navigation group">

<a href="#questions">Questions</a>
<a href="">Tags</a>
<a href="#questions/new">Ask a Question</a>
<a href="#">Unanswered</a>
</nav>
<!-- needed for html insert -->
<div class="">

</div>
