  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700,400' rel='stylesheet' type='text/css'>
<header class="navigation">
  <nav class="header-nav group">
    <h2 class="logo">Sea<em>Stack</em></h2>
      <ul class="navigation-tabs group">
        <li>
          <form class="input" action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="user[email]" value="guest.com">
            <input type="hidden" name="user[password]" value="password">
            <input type="submit" value="guest signin"></input>
          </form>

        </li>
        <li>
          <a href="/users/new">sign up</a>
        </li>
        <li>
          <a href="/session/new">log in</a>
        </li>
        <!-- <li>help</li> -->

      </ul>
  </nav>
</header>


<!-- this is the navbar -->
<nav class="site-navigation group">

<a href="#questions">Questions</a>
<!-- <a href="">Tags</a> -->
<a href="#questions/new">Ask a Question</a>
<a href="#">Welcome Page</a>
</nav>
<!-- needed for html insert -->
<div class="">

</div>
<!-- load the backbone and javascript here so that it doesn't conflict with rails -->
<script>
  $(document).ready(function(){
    SeaStack.initialize()
  });
</script>
