
<!-- would be great to have flash now errors in here for incorrect forms
look into the error messages from fetch. -->
<!--need a current user -->

  <h1> Ask a Question </h1>
  <label for="title">Title </label>
  <% debugger %>
  <input type="text" name="title" id="title">
  <br>
  <label for="body">Body </label>

  <textarea name="body" id="body"></textarea>
  <br>
  <label for="tags">Tags</label>
  <input type= "text" name="tags" id="tags">
  <input type="checkbox" name="response_notification" value="true">
  notify me via email when there are new responses
  </input>
  <br>
  <button type="submit">Post Question</button>
