


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<i>
</i>
<div class="index">
<% questions.each( function(question) { %>
  <section class="index-item">
<a href="#questions/<%= question.escape('id')%>"><%= question.escape('title')  %></a>
  </section>
  <p><%= question.escape('body') %></p>
<% }); %>

</div>
