<h1>Question:<h1>
<br>
<%= question.escape("title") %>
<br>
<h2> <%= question.escape("body") %> <h2>
<br>
<h2> Comments: <h2>
  <% question.comments().each( function(comment) {%>
  <%= comment.escape("body") %>
  <% }); %>

<div class="answerForm"> <div>
<h1>Answer:<h1>
<br>
<p></p>
