$small: 12px;
$links: 24px;

.index-header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  // background: blue;
}

.index-header > a {
  margin: 0 20px 0 20px;
    color: #30A7FC;
    cursor: pointer;

}

.search {
  background: #EAEBEC;
  color: #A9A9A9;
  width: 30px;
  height: 30px;
  fill: #A9A9A9;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #EAEBEC;
}
#search {
  width: 100px;
}


.question-navigation {
//     width: 900px;
//     margin: 0 auto;
    font-family: "Amatic SC";
    font-size: $links;
}

.question-navigation >  a {
  background: #9EA3A9;
  color: white;
  margin: 4px;
  padding: 3px;
  display: block;
  float: right;
}

.select {
  // background: yellow;
  display: flex;
  width: 1000px;
  border-bottom: 1px solid #EAEBEC;
  margin: 10px auto 0 auto;
  justify-content: space-between;

}

 .unanswered {
      color: #777777;
      padding: 2px;
      margin: 2px;
      border: 1px solid #EAEBEC;
      cursor: pointer;

}
.recent{
  // border: 1px solid red;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.by-votes {
  // background: green;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.tabular {
  // border: 5px solid black;
  display:  flex;
  flex-direction: row;
}
.tabby {
    padding: 0 5px;
    color: #777777;

}
li > .index-on{
  border-top: 2px solid #F69C55;
  border-left: 1px solid #EAEBEC;
  border-right: 1px solid #EAEBEC;
  color: black;
  border-bottom: 1px solid white;

}
// index styles
.index {
  font-family: 'Roboto';
}

.index-wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  margin: auto;
}

.inner-wrap {
  display: flex;
  flex-direction: column;
  width: 800px;

}
.wrap-wrap {
  display: flex;
}

.side-bar {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}
.tag-label {
  font-weight: bold;
  margin: 0;
padding: 0;
}
.ask-a-question {
  width: 180px;
  color: #30A7FC;
}
.tag-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.index-item {
  // background: yellow;
  width: 800px;
  height: 120px;
  display: flex;
  border-bottom: 1px solid #EAEBEC;
  font-family: 'Roboto';
}
.index-small {
  font-size: $small;
  margin: auto;
}
.index-question {
  // background: green;
  margin: 10px;
  order: 2;
  display: flex;
  flex-direction: column;
  width: 640px;
}

.index-stats {
  // background: red;
  margin: 10px;
  order: 1;
  display: flex;
  flex-direction: column;
}

.index-answers {
  display: flex;
  height: 40px;
  width: 50px;
  background: #75845C;
  color: yellow;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 5px;
}
.index-votes {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 50px;
  color: #777777;
  padding-bottom: 10px;
}

.index-number{
  font-size: 25px;
  margin: auto;
}

.index-title{
  // background: black;
  color: #30A7FC;
  padding: 5px;
}

.index-body {
  // background: gray;
  padding: 5px;
  font-size: 14px;
}
.etc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-tags {
  display: flex;
  margin: 0 5px;
  // background: orange;
  flex-direction: row;
}
.index-tag {
  background: #E1ECF4;
  display: block;
  margin: 5px;
  align-self: flex-start;
  color: #4885BB;
  padding: 5px;
  font-size: $small;
}
//same, but so all doesn't trigger js with class click
.all-tag {
  background: #E1ECF4;
  display: block;
  margin: 5px;
  align-self: flex-start;
  color: #4885BB;
  padding: 5px;
  font-size: $small;
}


.index-user {
  display: inline-block;
  // background: red;
  align-self: flex-end;
  // height: 100px;
  text-align: right;
  color: #777777;
  font-size: $small;
}

.index-item > a {
  // border: 5px solid yellow;
  color: #30A7FC;
}
