// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-question-body {
  width: 1000px;
  margin: 50px auto;
}
.new-question {
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  float: left;
}

.new-question > h1{
  font-size: 24px;
}

.new-question > input[type="text"] {
  font-family: "Oswald";
  font-size: 20px;
  border: 1px solid #CCCCCC;
  height: 34px;
  width: 660px;
}

.new-question > input[type="text"]:focus {
  padding: 0 0 0 10px;
  border: 1px solid #0077CC
}

.new-question > .q-body {
  font-family: "Ubuntu Mono";
  color: #444444;
  font-size: 18px;
  height: 270px;
  width: 660px;
  border: 1px solid #CCCCCC;
  padding: 11px;
}

.new-question >  a > button[type="submit"] {
  color: white;
  background: #6393EB;
  padding: 12px;
  border-radius: 5px;
}

.new-question > a > button[type="submit"]:hover {
  background: #009AFD;
}

.question-comments {
  display: block;
  background: #FFF7E3;
  float: left;
  width: 200px
}

.question-comments a {
  color: #0077CD;
}

// style for question show

  .questions-show {
    width: 1000px;
    margin: auto;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }

.questions-show > h1{
   border-bottom: 2px solid #E5E5E5;
   font-size: 24px;
}

.questions-show > i {

}

.questions-show > img {
  border: 5px solid #E5E5E5;
  height: 100px;
  width: auto;

}
.questions-show > h2 {
  font-size: 22px;
  font-weight: bold;
}

.questions-show > i > i > p {
  display:block;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  opacity: 1;
  height: auto;
  width: auto;
}
.answer_link {
  display:block;
  border-bottom: 1px solid #E5E5E5;
}
.answer_link:hover {
  color: #3E5FFF;
}

.hide {
  display: none;
}

.on {
  display: block;
  position: fixed;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 200px;
  font-size: 19;
  background: gray;
  color: white;
  opacity: .6;
  border-radius: 5px;
}
.remind {
  text-align: center;
  padding: 10px;
  display: none;
  color: blue;
}
.on > .remind {
  display: block;
  border-radius: 5px;
  color: white;
}
.on > p {
  opacity: 1;
  display: block;
  height: 100px;
  width: 80px;
  color: white;
}

.on > .ok {
  position: relative;
  bottom: -150px;
  background: blue;
  margin: auto;
  color: white;
  display: block;
}

// index styles

.index {
  // border: 1px solid red;
  font-family: 'Roboto';
  width: 900px;
  margin: auto;
}
.index-item > a {
  // border: 5px solid yellow;
  color: #30A7FC;
}

.index-item > p {
  // border: 2px solid green;
}

.index-item {
  z-index: 5;
  margin: 20px 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  width: 500px;
  max-height: 58px;
  overflow: hidden;
  transition: max-height .2s, ease;
}

.index-item:hover {
  z-index: 30;
  overflow: visible;
}

.index-item:hover + p {
  position: absolute;
  display: block;
  z-index: 500;
  background: black;
  color: white;
  height: auto;
  max-height: 100px;
  width: 300px;
  margin: -19px 0 0 120px;
  opacity: 1;
  transition: opacity .7s, ease-in;
}
p {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.index-item > a:hover{
  color: #5dd0fe;
}
//upvote code
  .question-title {
    position: absolute;
  }
  .uvote {
    border-radius: 5px;
    border: 1px solid green;
    background: green;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .dvote {
    border-radius: 5px;
    border: 1px solid red;
    position: relative;
    top: 89px;
    background: red;
  }

  .votes {
    // border-radius: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 2px 0 10px;

  }


// index page code
.cloud-scene {
  // position: absolute;

  display: block;
  margin: auto;
  width: 1000px;
  overflow: hidden;
  background: transparent;
  border-radius: 40px;
  }
.cloud-scene > .skybacking {
  position: absolute;
  height: 200px;
  width: 1000px;
  border-radius: 40px;
}
.cloud-scene > .sky {
  left: 0px;
  display: block;
  width: 3000px;
  background: transparent;
  height: 200px;
  animation: nudge 150s linear infinite;
}

@keyframes nudge {
  0% {
    transform: translate(-2000px, 0)
  }
  100% {
    transform: translate(0px, 0)
  }
}
.clouds *{
  // background: white;
  // display: block;
  position: absolute;
}

.cloud1 {
  left: 100px;
  height: 100px;
  width: 250px;
  top: 75px;
}

.cloud2 {
  left: 450px;
  width: 350px;
  height: 150px;
  top: 25px;
}

.cloud3 {

  left: 1100px;
  width: 800px;
  height: 87px;
  top: 19px;
}

.cloud4 {
  left: 2100px;
  height: 100px;
  width: 250px;
  top: 75px;
}

.cloud5 {
  left: 2450px;
  width: 350px;
  height: 150px;
  top: 25px;
}
