// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-question-body {
  width: 1000px;
  margin: 50px auto;
}
.new-question {
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  float: left;
}

.new-question > h1{
  font-size: 24px;
}

.new-question > input[type="text"] {
  font-family: "Oswald";
  font-size: 20px;
  border: 1px solid #CCCCCC;
  height: 34px;
  width: 660px;
}

.new-question > input[type="text"]:focus {
  padding: 0 0 0 10px;
  border: 1px solid #0077CC
}

.new-question > .q-body {
  font-family: "Ubuntu Mono";
  color: #444444;
  font-size: 18px;
  height: 270px;
  width: 660px;
  border: 1px solid #CCCCCC;
  padding: 11px;
}

.new-question >  a > button[type="submit"] {
  color: white;
  background: #6393EB;
  padding: 12px;
  border-radius: 5px;
}

.new-question > a > button[type="submit"]:hover {
  background: #009AFD;
}

.question-comments {
  display: block;
  background: #FFF7E3;
  float: left;
  width: 200px
}

.question-comments a {
  color: #0077CD;
}

// style for question show

  .questions-show {
    width: 1000px;
    margin: auto;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }

.questions-show > h1{
   border-bottom: 2px solid #E5E5E5;
   font-size: 24px
}

.questions-show > i {
  display: block;

}

.questions-show > img {
  border: 5px solid #E5E5E5;
  height: 100px;
  width: auto;

}

.questions-show > i > p {
  display: block;
  border-bottom: 1px solid #E5E5E5;
}
.hide {
  display: none;
}

.on {
  display: block;
  position: fixed;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 200px;
  font-size: 19;
  background: gray;
  color: white;
  opacity: .6;
  border-radius: 5px;
}
.remind {
  text-align: center;
  padding: 10px;
  display: none;
  color: blue;
}
.on > .remind {
  display: block;
  border-radius: 5px;
}

.on > .ok {
  background: blue;
  margin: auto;
  color: white;
}

// index styles

.index {
  // border: 1px solid red;
  font-family: 'Roboto';
  width: 900px;
  margin: auto;
}
.index-item > a {
  // border: 5px solid yellow;
  color: #30A7FC;
}

.index-item > p {
  // border: 2px solid green;
}

.index-item {
  z-index: 5;
  margin: 20px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  width: 500px;
  max-height: 58px;
  overflow: hidden;
  transition: max-height .2s, ease-out;
}

.index-item:hover {
  z-index: 30;
  overflow: visible;
}

.index-item:hover + p {
  position: absolute;
  display: block;
  z-index: 500;
  background: black;
  color: white;
  height: 100px;
  width: 300px;
  margin: 0 0 0 120px;
  opacity: 1;
  transition: height .7s, opacity 1s, ease;
}
p {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.index-item > a:hover{
  color: #5dd0fe;
}
