$links: 24px;
$logo: 50px;

body {
  background: #eee;
  margin: 0 auto;
}

div {
  margin: 0 auto;
}
.navigation {
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: "Amatic SC";

}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
}

.header-nav > h2 > em {
  color: #154393;
  font-weight: bold;
}
.logo {
  float: left;
  padding: 10px;
  font-size: $logo;
  font-weight: bolder;
}

.logo:hover {
  background: #444444;
}

.navigation-tabs  {
  float: right;
  margin: 16px 0 0 0;
}

.navigation-tabs > li {
  float: left;
  padding: 10px;
  font-size: $links;
  font-weight: bold;

}

.navigation-tabs > li:hover {
  background: #444444;
}


.site-navigation {
    width: 900px;
    margin: 0 auto;
    font-family: "Amatic SC";
    font-size: $links;
}

.site-navigation >  a {
  background: #9EA3A9;
  color: white;
  margin: 4px;
  padding: 3px;
  display: block;
  float: right;
}

.site-navigation >  a:hover {
  background: #F69C55
}
