<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700,400' rel='stylesheet' type='text/css'>
   <style>
     html {
       /*background: url("blue_background.png") no-repeat center center fixed;*/
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
     }
    body {
      position: relative;
      font-family: 'Amatic SC';
    }

    .header {
      margin: auto;
      display: block;
      /*background: yellow;*/
      height: 200px;
      width: 1000px;
    }

    .header > .nav > li{
      text-align: center;
      display: block;
      margin: 65px 65px auto 65px ;
      /*background: red;*/
      font-size: 36px;
      width: 200px;
      float: left;
    }

    .header > .nav > li > a:hover {
      color: blue;
    }
    .main {
      text-align: center;
      margin: auto;
      position: relative;
      display: block;
      /*background: #0c0;*/
      width: 1000px;
      height: 300px;
      /*overflow: hidden*/
    }

    .main > h1 {
      margin: auto;
      font-size: 60px;
      width: 600px;
      font-weight: bold;
      font-family: 'Amatic SC';
      /*padding:50px;*/
    }
    .main > h1 > em{
      font-size: 120px;
      font-weight: bold;
    }
    .sidebar-left {
      position: absolute;
      display: block;
      background: red;
      height: 480px;
      width: 200px;
      top: 100px;
      font-size: 36px;
    }

    .sidebar-left > ul {
      display:block;
      margin: 80px auto
    }

    .sidebar-right {
      position: absolute;
      display: block;
      /*background: blue;*/
      right: 0;
      top: 100px;
      height: 200px;
      width: 200px;
      font-size: 36px;

    }

    .sidebar-right > ul {
      display:block;
      margin: 80px auto
    }

    .viking-scene {
      width: 1000px;
      height: 300px;
      margin: auto;
      position: relative;
      overflow: hidden;
    }

     .viking-wave {
       position: absolute;
       top: 150px;
       display: block;
       background: transparent;
       height: 100px;
       width: 1000px;
       transition: top 10s;
     }

     .viking-scene:hover .viking-wave {
       top: 170px;
       transition: top 5s ease-in-out;
     }

     .top-wave {
       z-index: 3;
       display: block;
       background: transparent;
       height: 50px;
       width: 1000px;
       position: absolute;
       top: 190px;
       transition: top 10s;
     }

     .viking-scene:hover .top-wave{
       top: 175px;
       transition: top 10s ease-in-out;

     }

     .boat {
       z-index: 2;
       position: absolute;
       height: auto;
       width: 400px;
       top: 40px;
       left: -300px;
       transition: left 20s, top 20s, transform 20s;
     }

     .viking-scene:hover .boat{
       left: 200px;
       transform: rotate(-25deg);
       transition: left 20s, top 20s, transform 20s, ease-in-out;
     }


   </style>

    <title></title>
  </head>
  <body>


<!--
<h1> North East Pacific Edible SEAWEED Aquaculture </h1>
<a href="/api/instructions">
<button> Ask a Question </button></a>
<a href="/api/questions">
<button> See All Questions </button>
</a> -->
<section class="header">
  <ul class="nav">
    <li> <a href="#questions/new">ASK <br> - A - <br>QUESTION</a></li>
    <li> <a href="#questions">ANSWER<br> - A - <br>QUESTION</a></li>
    <li><a href="S#questions">QUESTION <br> DATABASE</a></li>
  </ul>
</section>

<section class= "main">
  <h1><em>N</em>ORTHEAST <br> <em>P</em>ACIFIC <em>E</em>DIBLE <br><em>S</em>EAWEED <em>A</em>QUACULTURE</h1>
  <section class="sidebar-left">
    <ul>
    <li>MISSION</li>
    </ul>
  </section>
  <section class="sidebar-right">
    <ul>
  <li>RESOURCE</li>
</ul>
  </section>
</section>

<section class="viking-scene">
  <section class="top-wave">
  <img src="wave2.png" alt="" />
  </section>

  <img class="boat" src="boat.png">

  <section class="viking-wave">
  <img src="wave.png" alt="" />
  </section>

  </section alt= "">


</body>
</html>
